@media (max-width: 991px) {
  .main-sidebar,
  .main-sidebar::before {
    box-shadow: none !important;
    margin-left: -250px;
  }
  .sidebar-open .main-sidebar,
  .sidebar-open .main-sidebar::before {
    margin-left: 0;
  }
  #sidebarCollapse{
    display: block !important;
  }
}
#sidebarCollapse{
  display: none ;
}
